

	<body>
		
	<section class="page_background">
		
			<div class="about_menu">
				About 
				<a href="#member"> Member</a>
				<a href="#mokuteki">Purpose</a>
				<a href="#anquete">contact us</a>

			</div>
			<!--member-->
			<h3 id="member">Member</h3>

			<!--紹介-->
		
		<div class="about">
			
				<div class="member_leftbox">
					<img src="assets/profimayu.png" width="150" height="150">
						<div class="member_name">Name</div>
						<div class="member_age">
							<p> Age</p>
							<p>0</p>
							<p>1</p>
						</div>

						<div class="member_event">
							<p>Event</p>
							<p>baby</p>
							<p>still baby</p>
						</div>
				</div>

				<div class="member_rightbox">
				　	<img src="assets/profimayu.png" width="150" height="150">
						<div class="member_name" >name</div>
						<div class="member_age">
							<p> age</p>
							<p>0</p>
							<p>1</p>
						</div>

						<div class="member_event">
							<p>Event</p>
							<p>baby</p>
							<p>still baby</p>
						</div>
				</div>
		</div>

			<!--紹介ここまで-->

				<h3 id="mokuteki">purpose</h3>
				<div class="about_mokuteki">
				Purpose schreiben...Warte kurz Bitte.
				
			<h3 id="anquete">Contact Us(Unavaillable now)</h3>
				<div class="about">	
					<p>

						Mail adress<input type="text" name="email" size="50" maxlength="200" placeholder="enter emailadress">
					</p>
					<p>
						サイトは使いやすいか
						<label><input type="radio" name="use" value="良い" checked>良い</label>
						<label><input type="radio" name="use" value="悪い">悪い</label>

					</p>
					<p>
						改善してほしいところ
						<label><input type="checkbox" name="use" value="見やすさ">見やすさ</label>
						<input type="checkbox" name="use" value="見やすさ" id="miyasusa"><label for="miyasusa">見やすさ</label>
					</p>
					<p>
						感想<textarea name="comment" cols="50" rows="5" placeholder="感想"></textarea>
					</p>
					<p>
						ログイン：<input type="password" name="password" size="50"></p>
					<p>
						<button type="submit"><strong>送信</strong></button>
					<p>	<input type="hidden" name="user_id" value="23423">
					</p>
				</div>
	</section>
	<!--ページ下部-->
		
	</body>
</html>