

	<body>
		
	<section class="page_background">
		
			<div class="about_menu">
				About 
				<a href="#member"> Member</a>
				<a href="#mokuteki">Purpose</a>
				<a href="#anquete">contact us</a>

			</div>
			<!--member-->
			<h3 id="member">Member</h3>

			<!--紹介-->
		
		<div class="about">
			
				<div class="member_leftbox">
					<img src="assets/profimayu.png" width="150" height="150">
						<div class="member_name">Name</div>
						<div class="member_age">
							<p> Age</p>
							<p>0</p>
							<p>1</p>
						</div>

						<div class="member_event">
							<p>Event</p>
							<p>baby</p>
							<p>still baby</p>
						</div>
				</div>

				<div class="member_rightbox">
				　	<img src="assets/profimayu.png" width="150" height="150">
						<div class="member_name" >name</div>
						<div class="member_age">
							<p> age</p>
							<p>0</p>
							<p>1</p>
						</div>

						<div class="member_event">
							<p>Event</p>
							<p>baby</p>
							<p>still baby</p>
						</div>
				</div>
		</div>

			<!--紹介ここまで-->

				<h3 id="mokuteki">purpose</h3>
				<div class="about_mokuteki">
				Purpose schreiben...Warte kurz 
				</div>
				
			<h3 id="anquete">Etc</h3>
				<div class="about">	

				</div>
	</section>
	<!--ページ下部-->
		
	</body>
</html>