

	<body>
		
	<section class="page_background">
		
			<div class="about_menu">
				Media
				<a href="#member"> (2017/1)</a>
				<a href="#mokuteki">日付</a>
				<a href="#anquete">日付</a>

			</div>
			<!--member-->
			<h3 id="member">Media</h3>

			<!--紹介-->


			<!--紹介ここまで-->

				<h3 id="mokuteki">目的</h3>
				
	</section>
	<!--ページ下部-->
		
	</body>
</html>