

	<body>
		
	<section class="page_background">
		
			<div class="about_menu">
				Pamphlet
				<a href="#member"> (2017/1)</a>
				<a href="#mokuteki">日付</a>
				<a href="#anquete">日付</a>

			</div>
			<!--member-->
			<h3 id="member">Pamphlet</h3>

			<!--紹介-->
		
		<div class="about">
			
		</div>

			<!--紹介ここまで-->

				<h3 id="mokuteki">目的</h3>
				<div class="about_mokuteki">
				留学エージェントを知ってもらおー</div>
				
			<h3 id="anquete">Contact Us</h3>
				<div class="about">	
				<form action="survey.php" method="post">
			
	</section>
	<!--ページ下部-->
		
	</body>
</html>