    <h1 style="margin-top: 100px;">お問い合わせ完了</h1>
    <p>以下の様に承りました。</p>

 <p>名前: <%= @inquiry.name %></p>
 <p>Title:<%= @inquiry.title %></p>
<p>メールアドレス:<%= @inquiry.mail %></p>
<p>お問い合わせ内容</p>
<p><%= @inquiry.contents %></p>